.contact {
  width: 40%;
  margin-right: rem(30px);
  @media (max-width: 576px) {
    margin: 0 0 rem(50px) 0;
    width: 100%;
  }
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: rem(26px);
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__icon {
    width: rem(29px);
    height: rem(29px);
    flex-shrink: 0;
    margin-right: rem(16px);
    @media (max-width: 576px) {
      margin-right: rem(14px);
      width: rem(24px);
      height: rem(24px);
    }
  }
  &__name {
    font-size: rem(20px);
    font-weight: 500;
    color: #2B2B2B;
    @media (max-width: 576px) {
      font-size: rem(18px);
    }
  }
}
